/***** Master Page additional CSS *****/
body {
   padding-top: 50px;
}

#gravatar {
   width: 30px;
   height: 30px;
   border-radius: 3px;
   float: left;
   margin: -5px 6px;
}

#footer {
   margin-top: 60px;
   border-top: 1px solid #ddd;
   padding: 10px 0px;
}